<div class="border-b-2 border-grey-lighter flex flex-col-reverse lg:flex-row pb-8 lg:pb-16">
    
    <div class="flex-shrink flex-grow w-full lg:w-1/2">
            <h1 class="header mb-4 text-5xl">{{ title }}</h1>
            <h2 class="subheader mb-6 ">{{ subheader }}</h2>
            <p>{{ intro }}</p>
    </div>

    <div class="lg:ml-16 mb-8 lg:mb-0 flex-no-shrink flex-no-grow rounded bg-cover bg-center h-25r min-h-18r max-h-half w-full lg:w-1/2" style="background-image: url('{{ theme:img src="typewriter.jpg" }}')">
            <img class="rounded w-full h-full object-center opacity-0" src="{{ theme:img src="typewriter.jpg" }}" alt="">
        </div>

</div>
